<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="google-site-verification" content="PhPtiDOH1mfcpo1UC5TM_ojJJ0aiBm9CfHH4bl9mvOM">
    <title>Éclary V4 | Accueil</title>
    <link rel="icon" href="https://i.imgur.com/IYRPsG2.png">
    
    <meta name="robots" content="index, follow">
    <meta name="description" content="Éclary est un serveur Discord en rapport avec Minecraft et ses serveurs comme Hypixel ou Excalia. Des giveaways sont fréquemments organisés ! Code Discord Nitro à gagner pour Noël  et un Bot gen nitro spécialment développé pour vous !">
    <meta name="keywords" content="rakox, eclary, eclary v3, eclarybot, discord, nitro, gen, generator, nitrogen, free, minecraft, giveaways, discordbot, bot, javascript, bot discord, serveur discord, nitro gratuit, discord nitro gratuitement, french, français, bot discord rp, bot discord rpg">
    <meta name="image" content="https://i.imgur.com/IYRPsG2.png">
    <meta name="author" content="rakox">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Éclary V4 | Accueil">
    <meta property="og:description" content="Éclary est un serveur Discord communautaire basé sur son propre bot et son site Internet. 🚀 Un générateur de code Discord Nitro 🎲 Une économie travaillée et basée sur notre propre monnaie : les éclairs ⚡ 🎉 Des giveaways et évènements à thèmes (Halloween, Noël...) fréquents ">
    <meta property="og:url" content="eclary.tk">
    <meta property="og:image" content="https://i.imgur.com/IYRPsG2.png">
    <meta itemprop="name" content="Éclary V4 | Accueil">
    <meta itemprop="description" content="Éclary est un serveur Discord communautaire basé sur notre propre bot et son site Internet. 🚀 Un générateur de code Discord Nitro 🎲 Une économie travaillée et basée sur notre propre monnaie : les éclairs ⚡ 🎉 Des giveaways et évènements à thèmes (Halloween, Noël...) fréquents ">
    <meta itemprop="image" content="https://i.imgur.com/IYRPsG2.png">
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://eclary.glitch.me/style.css">
    <link rel="stylesheet" href="https://eclary.glitch.me/mobile.css">
</head>
<body>
  <div id="preloader" class="loader">
    <div id="loader"></div>
  </div>
  <page>
    <header>
        <div class="container-fluid p-0">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="/">
                    <i class="fas fa-bolt fa-2x mx-2"></i>Éclary V4</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-right text-light"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="mr-auto"></div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/news">
                                <i class="fas fa-clipboard-list mx-1"></i>NEWS</a>
                      </li>
                      <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="far fa-chart-bar mx-1"></i>STATS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fas fa-gamepad mx-1"></i>GAME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/discord/login" id="text">
                                <i class="fas fa-user-circle mx-1"></i>LOG IN</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="col-md-7 col-sm-12  text-white">
                    <h1>ÉCLARY</h1>
                    <p>
                      <img src="https://cdnjs.cloudflare.com/ajax/libs/emojione/2.2.7/assets/svg/1f916.svg"> Éclary est un <b>serveur Discord communautaire</b> basé sur son propre <b>bot</b> et son <b>site Internet</b>
                      <br><img src="https://cdnjs.cloudflare.com/ajax/libs/emojione/2.2.7/assets/svg/1f680.svg"> Un générateur de code <b>Discord Nitro</b>
                      <br><img src="https://cdnjs.cloudflare.com/ajax/libs/emojione/2.2.7/assets/svg/1f3b2.svg"> Une <b>économie travaillée</b> et basée sur notre <b>propre monnaie</b>: <b>les "éclairs" <img src="https://cdnjs.cloudflare.com/ajax/libs/emojione/2.2.7/assets/svg/26a1.svg"></b>
                      <br><img src="https://cdnjs.cloudflare.com/ajax/libs/emojione/2.2.7/assets/svg/1f91d.svg"> Une <b>communauté</b> un <b>active, soudée et respectueuse</b>
                      <br><img src="https://cdnjs.cloudflare.com/ajax/libs/emojione/2.2.7/assets/svg/1f389.svg"> Des <b>giveaways</b> et <b>évènements à thèmes</b> (Halloween, Noël...) organisés <b>fréquemment</b>
                      <br><img src="https://cdnjs.cloudflare.com/ajax/libs/emojione/2.2.7/assets/svg/1f4c3.svg"> Des <b>mises à jours</b> régulières et énormément de <b>nouveautés</b>
                      <br><img src="https://cdnjs.cloudflare.com/ajax/libs/emojione/2.2.7/assets/svg/1f46e.svg"> Un <b>staff compétent</b> et à <b>votre écoute</b> 7j/7 pour <b>répondre a vos questions</b>
                    </p>
                    <a onclick="window.open('https://discord.gg/6FsKBdW', '_blank');" href="" class="btn btn-light px-5 py-2 primary-btn md-5">Rejoignez-nous !</a>
                </div>
                <div class="col-md-5 col-sm-12  h-25">
                    <img src="https://cdn.glitch.com/b6ecd073-4ea8-4703-879b-237dabb590b2%2Flogo-V3.png?v=1576334086713" alt="LOGO" onclick="window.open('https://discord.gg/6FsKBdW', '_blank');" />
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="section-1">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="pray">
                            <!--<img src="https://cdn.glitch.com/b6ecd073-4ea8-4703-879b-237dabb590b2%2FNitro.png?v=1576485218856" alt="Nitro">-->
                            <img id="news-img">
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="panel text-left">
                            <h6 id="news-title">EVENT !</h6>
                            <p class="pt-4" id="news-preview">
                                <b>C'est bientôt Noël <img src="https://cdnjs.cloudflare.com/ajax/libs/emojione/2.2.7/assets/svg/1f381.svg"></b>
                                <br>
                                <br> Pour vous faire plaisir, j'ai décidé de marquer l'événement en<b> vous offrant un Discord Nitro pendant 1 mois !<br><br>
                                <img class="emoji" src="https://discordemoji.com/assets/emoji/nitro.png"> Mais comment gagner ce nitro ? <img class="emoji" src="https://discordemoji.com/assets/emoji/nitro.png"></b><br>
                                C'est très simple, la<b>personne qui aura le plus d'invitation le Mercredi 25 décembre</b>recevra son code Nitro en MP !<br>
                                <b>Toutes les coups sont permis, sauf le fait de créer des alts (double compte) qui est totalement interdit et se verra sanctionné d'un ban des comptes douteux (et on le saura si vous essayez de le faire <img src="https://cdnjs.cloudflare.com/ajax/libs/emojione/2.2.7/assets/svg/1f609.svg">)<br></b>
                                On rajoutera peut-être un peu plus de temps si celui-ci n'est pas suffisant (10 jours)<br>
                                <b>Donc a vos invitations, que le meilleur gagne ! <img src="https://cdn.discordapp.com/emojis/653856131898277899.gif"></b>

                                <br /><br /><b>Le Staff d'Éclary</b>
                            </p>
                            <a href="/news" class="btn btn-dark px-5 py-2 primary-btn mb-5">En savoir plus <i class="fas fa-chevron-right mx-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-2 container-fluid p-0">
            <div class="cover">
                <div class="overlay"></div>
                <div class="content text-center">
                    <h1>Éclary en quelques chiffres...</h1>
                </div>
            </div>
            <div class="container-fluid text-center">
                <div class="numbers d-flex flex-md-row flex-wrap justify-content-center">
                    <div class="rect">
                        <h1>17</h1>
                        <p>Bots</p>
                    </div>
                    <div class="rect">
                        <h1>127</h1>
                        <p>Membres</p>
                    </div>
                    <div class="rect">
                        <h1>6</h1>
                        <p>Staff à votre écoute</p>
                    </div>
                    <div class="rect">
                        <h1 id="stats-nitro">654</h1>
                        <p>Code Discord Nitro™</p>
                    </div>
                </div>
            </div>
          <div class="purchase text-center">
  <h1>Shop</h1>
  <p>
    Boutique en ligne du serveur ! Bientôt disponible !
  </p>
  <div class="cards">
    <div class="d-flex flex-row justify-content-center flex-wrap">
         <div class="container">
       <div class="card">
         <div class="box">
           <div class="percent">
             <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="number">
                  <h2>65<span>%</span></h2>
                </div>
             </div>
             <h2 class="text">Html</h2>
           </div>
        </div>
        <div class="card">
          <div class="box">
            <div class="percent">
              <svg>
                 <circle cx="70" cy="70" r="70"></circle>
                 <circle cx="70" cy="70" r="70"></circle>
               </svg>
               <div class="number">
                   <h2>15<span>%</span></h2>
                 </div>
              </div>
              <h2 class="text">CSS</h2>
            </div>
         </div>
         <div class="card">
           <div class="box">
             <div class="percent">
               <svg>
                  <circle cx="70" cy="70" r="70"></circle>
                  <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>10<span>%</span></h2>
                  </div>
               </div>
               <h2 class="text">Javascript</h2>
             </div>
          </div>
       </div>
    </div>
</div>
</div>
</section>
<section class="section-3 container-fluid p-0 text-center">
<div class="purchase text-center">
    <h1>Leaderboard</h1>
  </div>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewbox="0 0 1189.8 765.6" enable-background="new 0 0 1189.8 765.6" xml:space="preserve">
<g id="BG">
	<g>
	    <g>
					<!--<polygon fill-rule="evenodd" clip-rule="evenodd" fill="#60BDE9" points="162.2,0 35.8,765.6 1153.9,765.6 1027.5,0 					"/>
					<polygon opacity="0.3" fill-rule="evenodd" clip-rule="evenodd" fill="#60BDE9" points="433.4,0 118.5,765.6 1071.7,765.6 
						758.4,0 					"/>
				<path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd" fill="#60BDE9" d="M406.9,0c20.8,266.5,97.1,464.1,188,464.1
					S762,266.5,782.8,0H406.9z"/>-->
			</g>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M801.3,580.6c-1.8-2.9-3.1-7.4-3.4-12.6
		c-0.3,5.1-1.6,9.7-3.4,12.6c-2.9,1.8-7.4,3.1-12.6,3.4c5.1,0.3,9.6,1.6,12.6,3.4c1.8,2.9,3.1,7.4,3.4,12.6
		c0.3-5.1,1.6-9.6,3.4-12.6c2.9-1.8,7.4-3.1,12.6-3.4C808.8,583.7,804.3,582.5,801.3,580.6z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M816.1,245.7c-3.5-5.5-5.9-14.1-6.4-23.8
		c-0.6,9.7-3,18.2-6.4,23.8c-5.5,3.5-14.1,5.9-23.8,6.4c9.7,0.6,18.2,3,23.8,6.4c3.5,5.5,5.9,14.1,6.4,23.8c0.6-9.7,3-18.2,6.4-23.8
		c5.5-3.5,14.1-5.9,23.8-6.4C830.2,251.5,821.7,249.1,816.1,245.7z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M824.1,208.3c-1.8-2.9-3.1-7.4-3.4-12.6
		c-0.3,5.1-1.6,9.7-3.4,12.6c-2.9,1.8-7.4,3.1-12.6,3.4c5.1,0.3,9.6,1.6,12.6,3.4c1.8,2.9,3.1,7.4,3.4,12.6
		c0.3-5.1,1.6-9.6,3.4-12.6c2.9-1.8,7.4-3.1,12.6-3.4C831.5,211.4,827,210.2,824.1,208.3z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M854.8,266.1c-1.8-2.9-3.1-7.4-3.4-12.6
		c-0.3,5.1-1.6,9.7-3.4,12.6c-2.9,1.8-7.4,3.1-12.6,3.4c5.1,0.3,9.6,1.6,12.6,3.4c1.8,2.9,3.1,7.4,3.4,12.6
		c0.3-5.1,1.6-9.6,3.4-12.6c2.9-1.8,7.4-3.1,12.6-3.4C862.3,269.2,857.8,267.9,854.8,266.1z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M859.4,179.3c-0.9-1.5-1.6-3.7-1.7-6.3c-0.1,2.6-0.8,4.8-1.7,6.3
		c-1.5,0.9-3.7,1.6-6.3,1.7c2.6,0.1,4.8,0.8,6.3,1.7c0.9,1.5,1.6,3.7,1.7,6.3c0.2-2.6,0.8-4.8,1.7-6.3c1.5-0.9,3.7-1.6,6.3-1.7
		C863.1,180.9,860.8,180.2,859.4,179.3z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M823.4,321.1c-0.9-1.5-1.6-3.7-1.7-6.3c-0.1,2.6-0.8,4.8-1.7,6.3
		c-1.5,0.9-3.7,1.6-6.3,1.7c2.6,0.1,4.8,0.8,6.3,1.7c0.9,1.5,1.6,3.7,1.7,6.3c0.2-2.6,0.8-4.8,1.7-6.3c1.5-0.9,3.7-1.6,6.3-1.7
		C827.1,322.6,824.8,322,823.4,321.1z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M675,566.3c-0.9-1.5-1.6-3.7-1.7-6.3c-0.1,2.6-0.8,4.8-1.7,6.3
		c-1.5,0.9-3.7,1.6-6.3,1.7c2.6,0.1,4.8,0.8,6.3,1.7c0.9,1.5,1.6,3.7,1.7,6.3c0.2-2.6,0.8-4.8,1.7-6.3c1.5-0.9,3.7-1.6,6.3-1.7
		C678.7,567.9,676.5,567.3,675,566.3z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M779.2,540.6c-3.5-5.5-5.9-14.1-6.4-23.8
		c-0.6,9.7-3,18.2-6.4,23.8c-5.5,3.5-14.1,5.9-23.8,6.4c9.7,0.6,18.2,3,23.8,6.4c3.5,5.5,5.9,14.1,6.4,23.8c0.6-9.7,3-18.2,6.4-23.8
		c5.5-3.5,14.1-5.9,23.8-6.4C793.2,546.5,784.7,544,779.2,540.6z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M177.8,564.6c-1.8-2.9-3.1-7.4-3.4-12.6
		c-0.3,5.1-1.6,9.7-3.4,12.6c-2.9,1.8-7.4,3.1-12.6,3.4c5.1,0.3,9.6,1.6,12.6,3.4c1.8,2.9,3.1,7.4,3.4,12.6
		c0.3-5.1,1.6-9.6,3.4-12.6c2.9-1.8,7.4-3.1,12.6-3.4C185.2,567.7,180.7,566.4,177.8,564.6z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M192.8,515.1c-0.9-1.5-1.6-3.7-1.7-6.3c-0.2,2.6-0.8,4.8-1.7,6.3
		c-1.5,0.9-3.7,1.6-6.3,1.7c2.6,0.2,4.8,0.8,6.3,1.7c0.9,1.5,1.6,3.7,1.7,6.3c0.1-2.6,0.8-4.8,1.7-6.3c1.5-0.9,3.7-1.6,6.3-1.7
		C196.6,516.6,194.3,516,192.8,515.1z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M148.8,637.3c-0.9-1.5-1.6-3.7-1.7-6.3c-0.1,2.6-0.8,4.8-1.7,6.3
		c-1.5,0.9-3.7,1.6-6.3,1.7c2.6,0.1,4.8,0.8,6.3,1.7c0.9,1.5,1.6,3.7,1.7,6.3c0.1-2.6,0.8-4.8,1.7-6.3c1.5-0.9,3.7-1.6,6.3-1.7
		C152.6,638.8,150.3,638.2,148.8,637.3z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M217,556.7c-0.9-1.5-1.6-3.7-1.7-6.3c-0.1,2.6-0.8,4.8-1.7,6.3
		c-1.5,0.9-3.7,1.6-6.3,1.7c2.6,0.2,4.8,0.8,6.3,1.7c0.9,1.5,1.6,3.7,1.7,6.3c0.1-2.6,0.8-4.8,1.7-6.3c1.5-0.9,3.7-1.6,6.3-1.7
		C220.7,558.3,218.5,557.6,217,556.7z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M724.9,19.5c0.6,0.9,1,2.4,1.1,4c0.1-1.6,0.5-3.1,1.1-4
		c0.9-0.6,2.4-1,4-1.1c-1.6-0.1-3.1-0.5-4-1.1c-0.6-0.9-1-2.4-1.1-4c-0.1,1.6-0.5,3.1-1.1,4c-0.9,0.6-2.4,1-4,1.1
		C722.6,18.5,724,18.9,724.9,19.5z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M382.9,224.9c-1.7,2.7-2.9,6.9-3.2,11.7c-0.3-4.8-1.5-9-3.2-11.8
		c-2.7-1.7-6.9-2.9-11.7-3.2c4.8-0.3,9-1.5,11.7-3.2c1.7-2.7,2.9-6.9,3.2-11.7c0.3,4.8,1.5,9,3.2,11.7c2.7,1.7,6.9,2.9,11.8,3.2
		C389.8,222,385.6,223.2,382.9,224.9z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M415.9,251.9c-0.9,1.4-1.5,3.5-1.6,5.9c-0.1-2.4-0.7-4.5-1.6-5.9
		c-1.4-0.9-3.5-1.5-5.9-1.6c2.4-0.1,4.5-0.7,5.9-1.6c0.9-1.4,1.5-3.5,1.6-5.9c0.1,2.4,0.7,4.5,1.6,5.9c1.4,0.9,3.5,1.5,5.9,1.6
		C419.3,250.5,417.2,251.1,415.9,251.9z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M360.7,33.2c-0.9,1.4-1.5,3.5-1.6,5.9c-0.1-2.4-0.7-4.5-1.6-5.9
		c-1.4-0.9-3.5-1.5-5.9-1.6c2.4-0.1,4.5-0.7,5.9-1.6c0.9-1.4,1.5-3.5,1.6-5.9c0.1,2.4,0.7,4.5,1.6,5.9c1.4,0.9,3.5,1.5,5.9,1.6
		C364.2,31.7,362.1,32.3,360.7,33.2z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M438.4,213c-0.9,1.4-1.5,3.5-1.6,5.9c-0.1-2.4-0.7-4.5-1.6-5.9
		c-1.4-0.9-3.5-1.5-5.9-1.6c2.4-0.1,4.5-0.7,5.9-1.6c0.9-1.4,1.5-3.5,1.6-5.9c0.1,2.4,0.7,4.5,1.6,5.9c1.4,0.9,3.5,1.5,5.9,1.6
		C441.9,211.6,439.8,212.2,438.4,213z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M591.1,112.1c-3.5,5.6-5.9,14.1-6.5,23.9
		c-0.6-9.8-3-18.3-6.5-23.9c-5.6-3.5-14.1-5.9-23.9-6.5c9.8-0.6,18.3-3,23.9-6.5c3.5-5.6,5.9-14.1,6.5-23.9c0.6,9.8,3,18.3,6.5,23.9
		c5.6,3.5,14.1,5.9,23.9,6.5C605.2,106.2,596.6,108.6,591.1,112.1z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M658,167.1c-1.7,2.8-3,7.1-3.2,12c-0.3-4.9-1.5-9.2-3.2-12
		c-2.8-1.7-7.1-3-12-3.2c4.9-0.3,9.2-1.5,12-3.2c1.7-2.8,3-7.1,3.2-12c0.3,4.9,1.5,9.2,3.2,12c2.8,1.7,7.1,3,12,3.2
		C665.1,164.2,660.8,165.4,658,167.1z"/>
	<rect x="0" y="740.9" fill-rule="evenodd" clip-rule="evenodd" fill="#B1BCBC" width="1189.8" height="24.7"/>
</g>
<g id="Banner">
	<g>
		<!--<polygon fill="#071D49" points="307.9,196.7 67.9,196.7 124.4,145 67.9,93.2 307.9,93.2 		"/>
		<polygon fill="#071D49" points="881.9,93.2 1121.9,93.2 1065.4,145 1121.9,196.7 881.9,196.7 		"/>
		<polygon fill="#394A6D" points="182.9,145 307.9,145 307.9,196.7 		"/>
		<polygon fill="#394A6D" points="1006.9,145 881.9,145 881.9,196.7 		"/>-->
		<g>
			<!--<rect x="182.9" y="41.5" fill="#071D49" width="824" height="103.5"/>-->
		</g>
  </g>
	<!--<text transform="matrix(1 0 0 1 410.1713 84.0311)"><tspan x="0" y="20" fill="#FFFFFF" font-family="'Acme', sans-serif" font-size="28" font-weight="bold">Éclary V4 | Coins Leaderboard</tspan></text>-->
  </g>
<g id="podium-1" class="podiums">
	<g>
		<rect x="195.9" y="605.1" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" width="266.6" height="135.7"/>
		<rect x="328.9" y="605.1" fill-rule="evenodd" clip-rule="evenodd" fill="#F2F7F7" width="133.6" height="135.7"/>
	</g>
</g>
<g id="podium-2" class="podiums">
	<g>
		<rect x="472.1" y="545.1" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" width="266.6" height="195.7"/>
		<rect x="605.1" y="545.1" fill-rule="evenodd" clip-rule="evenodd" fill="#F2F7F7" width="133.6" height="195.7"/>
	</g>
</g>
<g id="podium-3" class="podiums">
	<g>
		<rect x="747.9" y="645.1" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" width="266.6" height="95.7"/>
		<rect x="880.9" y="645.1" fill-rule="evenodd" clip-rule="evenodd" fill="#F2F7F7" width="133.6" height="95.7"/>
	</g>
</g>
<g id="Dots">
	<text transform="matrix(1 0 0 1 314.4672 690.9598)" fill="#989898" font-family="'Acme', sans-serif" font-size="52.5485" class="ranking ranking--desktop">2</text>
	<text transform="matrix(1 0 0 1 592.4367 658.9598)" fill="#da9e3b" font-family="'Acme', sans-serif" font-size="52.5485" class="ranking ranking--mobile">1</text>
	<text transform="matrix(1 0 0 1 868.475 710.9598)" fill="#ae7441" font-family="'Acme', sans-serif" font-size="52.5485" class="ranking ranking--store">3</text>
</g>
  
<g id="trophy-store" class="trophies">
	<g>
			<!--<path fill-rule="evenodd" clip-rule="evenodd" fill="#FEDD06" d="M782.1,360.6c-21.3,109.9,21.5,148.7,84.3,211.6h16.1V355.6
				c-30.5,0-61,0-91.5,0C786.6,355.6,783.4,357,782.1,360.6z"/>
			<path fill-rule="evenodd" clip-rule="evenodd" fill="#FEDD06" d="M781.5,368.1h-14.7c-20.5,0.1-24,6.7-25.2,11.7
				c-10.2,51.4,11.7,95.7,77.6,119.6c-6.6-7.3-12.6-14.5-17.9-21.9c-38.3-19.7-47.6-50.4-38.6-90.3c1.6-4.2,5.9-6.5,13.3-6.4h3.6
				C780.1,376.7,780.7,372.5,781.5,368.1z"/>
			<path fill-rule="evenodd" clip-rule="evenodd" fill="#FDD40F" d="M813.6,645.3h68.9v-11.8h-68.9c-1.8,0-3.2,1.4-3.2,3.2v5.3
				C810.3,643.9,811.8,645.3,813.6,645.3z"/>
			<path fill-rule="evenodd" clip-rule="evenodd" fill="#FDD40F" d="M847.7,621.8h34.7v11.8h-34.7c-1.8,0-3.2-1.4-3.2-3.2V625
				C844.5,623.3,846,621.8,847.7,621.8z"/>
			<path fill-rule="evenodd" clip-rule="evenodd" fill="#FDD40F" d="M856.5,621.8h26v-11.8v-37.8h-16c0,48-13.2,36.1-13.2,41.1v5.3
				C853.2,620.4,854.7,621.8,856.5,621.8z"/>
			<path fill-rule="evenodd" clip-rule="evenodd" fill="#FDD40F" d="M982.8,360.6c21.3,109.9-21.5,148.7-84.3,211.6h-16.1V355.6
				c30.5,0,61,0,91.5,0C978.3,355.6,981.5,357,982.8,360.6z"/>
			<path fill-rule="evenodd" clip-rule="evenodd" fill="#FDD40F" d="M983.5,368.1h14.7c20.5,0.1,24,6.7,25.2,11.7
				c10.2,51.4-11.7,95.7-77.6,119.6c6.6-7.3,12.6-14.5,17.9-21.9c38.3-19.7,47.6-50.4,38.6-90.3c-1.6-4.2-5.9-6.5-13.3-6.4h-3.6
				C984.8,376.7,984.2,372.5,983.5,368.1z"/>
			<path fill-rule="evenodd" clip-rule="evenodd" fill="#FBC51E" d="M951.4,645.3h-68.9v-11.8h68.9c1.8,0,3.2,1.4,3.2,3.2v5.3
				C954.6,643.9,953.1,645.3,951.4,645.3z"/>
			<path fill-rule="evenodd" clip-rule="evenodd" fill="#FDD40F" d="M917.2,621.8h-34.7v11.8h34.7c1.8,0,3.2-1.4,3.2-3.2V625
				C920.4,623.3,919,621.8,917.2,621.8z"/>
			<path fill-rule="evenodd" clip-rule="evenodd" fill="#FBC51E" d="M908.5,621.8h-26v-11.8v-37.8h16c0,48,13.2,36.1,13.2,41.1v5.3
				C911.7,620.4,910.2,621.8,908.5,621.8z"/>-->
		</g>
</g>
<g id="trophy-mobile" class="trophies">
	<g>
			<!--<path fill-rule="evenodd" clip-rule="evenodd" fill="#FEDD06" d="M505.5,360.6c-21.3,109.9,21.5,148.7,84.3,211.6h16.1V355.6
				c-30.5,0-61,0-91.5,0C510,355.6,506.8,357,505.5,360.6z"/>
			<path fill-rule="evenodd" clip-rule="evenodd" fill="#FEDD06" d="M504.8,368.1h-14.7c-20.5,0.1-24,6.7-25.2,11.7
				c-10.2,51.4,11.7,95.7,77.6,119.6c-6.6-7.3-12.6-14.5-17.9-21.9c-38.3-19.7-47.6-50.4-38.6-90.3c1.6-4.2,5.9-6.5,13.3-6.4h3.6
				C503.5,376.7,504.1,372.5,504.8,368.1z"/>
			<path fill-rule="evenodd" clip-rule="evenodd" fill="#FDD40F" d="M536.9,645.3h68.9v-11.8h-68.9c-1.8,0-3.2,1.4-3.2,3.2v5.3
				C533.7,643.9,535.2,645.3,536.9,645.3z"/>
			<path fill-rule="evenodd" clip-rule="evenodd" fill="#FDD40F" d="M571.1,621.8h34.7v11.8h-34.7c-1.8,0-3.2-1.4-3.2-3.2V625
				C567.9,623.3,569.3,621.8,571.1,621.8z"/>
			<path fill-rule="evenodd" clip-rule="evenodd" fill="#FDD40F" d="M579.8,621.8h26v-11.8v-37.8h-16c0,48-13.2,36.1-13.2,41.1v5.3
				C576.6,620.4,578,621.8,579.8,621.8z"/>
			<path fill-rule="evenodd" clip-rule="evenodd" fill="#FDD40F" d="M706.2,360.6c21.3,109.9-21.5,148.7-84.3,211.6h-16.1V355.6
				c30.5,0,61,0,91.5,0C701.7,355.6,704.8,357,706.2,360.6z"/>
			<path fill-rule="evenodd" clip-rule="evenodd" fill="#FDD40F" d="M706.8,368.1h14.7c20.5,0.1,24,6.7,25.2,11.7
				c10.2,51.4-11.7,95.7-77.6,119.6c6.6-7.3,12.6-14.5,17.9-21.9c38.3-19.7,47.6-50.4,38.6-90.3c-1.6-4.2-5.9-6.5-13.3-6.4h-3.6
				C708.2,376.7,707.6,372.5,706.8,368.1z"/>
			<path fill-rule="evenodd" clip-rule="evenodd" fill="#FBC51E" d="M674.7,645.3h-68.9v-11.8h68.9c1.8,0,3.2,1.4,3.2,3.2v5.3
				C677.9,643.9,676.5,645.3,674.7,645.3z"/>
			<path fill-rule="evenodd" clip-rule="evenodd" fill="#FDD40F" d="M640.5,621.8h-34.7v11.8h34.7c1.8,0,3.2-1.4,3.2-3.2V625
				C643.8,623.3,642.3,621.8,640.5,621.8z"/>
			<path fill-rule="evenodd" clip-rule="evenodd" fill="#FBC51E" d="M631.8,621.8h-26v-11.8v-37.8h16c0,48,13.2,36.1,13.2,41.1v5.3
				C635,620.4,633.6,621.8,631.8,621.8z"/>-->
		</g>
</g>
<g id="trophy-desktop" class="trophies">
	<g>
			<!--<path fill-rule="evenodd" clip-rule="evenodd" fill="#FEDD06" d="M228.8,360.6c-21.3,109.9,21.5,148.7,84.3,211.6h16.1V355.6
				c-30.5,0-61,0-91.5,0C233.3,355.6,230.2,357,228.8,360.6z"/>
			<path fill-rule="evenodd" clip-rule="evenodd" fill="#FEDD06" d="M228.2,368.1h-14.7c-20.5,0.1-24,6.7-25.2,11.7
				c-10.2,51.4,11.7,95.7,77.6,119.6c-6.6-7.3-12.6-14.5-17.9-21.9c-38.3-19.7-47.6-50.4-38.6-90.3c1.6-4.2,5.9-6.5,13.3-6.4h3.6
				C226.8,376.7,227.4,372.5,228.2,368.1z"/>
			<path fill-rule="evenodd" clip-rule="evenodd" fill="#FDD40F" d="M260.3,645.3h68.9v-11.8h-68.9c-1.8,0-3.2,1.4-3.2,3.2v5.3
				C257.1,643.9,258.5,645.3,260.3,645.3z"/>
			<path fill-rule="evenodd" clip-rule="evenodd" fill="#FDD40F" d="M294.5,621.8h34.7v11.8h-34.7c-1.8,0-3.2-1.4-3.2-3.2V625
				C291.2,623.3,292.7,621.8,294.5,621.8z"/>
			<path fill-rule="evenodd" clip-rule="evenodd" fill="#FDD40F" d="M303.2,621.8h26v-11.8v-37.8h-16c0,48-13.2,36.1-13.2,41.1v5.3
				C300,620.4,301.4,621.8,303.2,621.8z"/>
			<path fill-rule="evenodd" clip-rule="evenodd" fill="#FDD40F" d="M429.5,360.6c21.3,109.9-21.5,148.7-84.3,211.6h-16.1V355.6
				c30.5,0,61,0,91.5,0C425,355.6,428.2,357,429.5,360.6z"/>
			<path fill-rule="evenodd" clip-rule="evenodd" fill="#FDD40F" d="M430.2,368.1h14.7c20.5,0.1,24,6.7,25.2,11.7
				c10.2,51.4-11.7,95.7-77.6,119.6c6.6-7.3,12.6-14.5,17.9-21.9c38.3-19.7,47.6-50.4,38.6-90.3c-1.6-4.2-5.9-6.5-13.3-6.4H432
				C431.6,376.7,430.9,372.5,430.2,368.1z"/>
			<path fill-rule="evenodd" clip-rule="evenodd" fill="#FBC51E" d="M398.1,645.3h-68.9v-11.8h68.9c1.8,0,3.2,1.4,3.2,3.2v5.3
				C401.3,643.9,399.8,645.3,398.1,645.3z"/>
			<path fill-rule="evenodd" clip-rule="evenodd" fill="#FDD40F" d="M363.9,621.8h-34.7v11.8h34.7c1.8,0,3.2-1.4,3.2-3.2V625
				C367.1,623.3,365.7,621.8,363.9,621.8z"/>
			<path fill-rule="evenodd" clip-rule="evenodd" fill="#FBC51E" d="M355.2,621.8h-26v-11.8v-37.8h16c0,48,13.2,36.1,13.2,41.1v5.3
				C358.4,620.4,357,621.8,355.2,621.8z"/>-->
		</g>
	</g>
</g>
  </svg>
       </section>
            <section class="section-4">
                <div class="container text-center">
                    <h1 class="text-dark">What our Reader's Say about us</h1>
                    <p class="text-secondary">Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="team row ">
                    <div class="col-md-4 col-12 text-center">
                        <div class="card mr-2 d-inline-block shadow-lg">
                            <div class="card-img-top">
                                <img src="https://cdn.glitch.com/b6ecd073-4ea8-4703-879b-237dabb590b2%2FSakura.webp?v=1577121154889" class="img-avatar" alt="">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">LaVieEnRose123</h3>
                                <p class="card-text">
                                    Ou cobaye de Méga, je suis responsable sur le serveur, je suis souvent là pour répondre à vos questions !
                                </p>
                                <p class="text-black-50">Responsable Modération</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 text-center">
                        <div class="card mr-2 d-inline-block shadow-lg">
                            <div class="card-img-top">
                                <img src="https://cdn.glitch.com/b6ecd073-4ea8-4703-879b-237dabb590b2%2FM%C3%A9ga.webp?v=1577121058621" class="img-avatar" alt="">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Méga</h3>
                                <p class="card-text">
                                    Admin suprême du serveur, mettez vous tous a genoux !
                                </p>
                                <p class="text-black-50">Grand Dieu d'Éclary</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 text-center">
                        <div class="card mr-2 d-inline-block shadow-lg">
                            <div class="card-img-top">
                                <img src="https://cdn.discordapp.com/avatars/490461455741747200/ffd807cc69fe321e3f8ae6ce5b8faf7d.png?size=512" class="img-avatar" alt="">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Rakox</h3>
                                <p class="card-text">
                                    Développeur Discord et Web Designer, si il y a des bugs c'est sur lui qu'il faut crier !
                                </p>
                                <p class="text-black-50">Développeur</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 text-center">
                        <div class="card mr-2 d-inline-block shadow-lg">
                            <div class="card-img-top">
                                <img src="https://cdn.glitch.com/b6ecd073-4ea8-4703-879b-237dabb590b2%2FArslane.webp?v=1577121287081" class="img-avatar" alt="">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Arslane</h3>
                                <p class="card-text">
                                    Bon Modo, aime one piece, farmeur motivé sur excalia et c'est le contraire sur hypixel !
                                </p>
                                <p class="text-black-50">Modérateur</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 text-center">
                        <div class="card mr-2 d-inline-block shadow-lg">
                            <div class="card-img-top">
                                <img src="https://cdn.glitch.com/b6ecd073-4ea8-4703-879b-237dabb590b2%2FGwendy.webp?v=1577121645831" class="img-avatar" alt="">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Gwendy</h3>
                                <p class="card-text">
                                    ou Girl, modératrice active, sympa, mature, adore aider les gens.
                                </p>
                                <p class="text-black-50">Modératrice</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 text-center">
                        <div class="card mr-2 d-inline-block shadow-lg">
                            <div class="card-img-top">
                                <img src="https://cdn.discordapp.com/avatars/323472943751364610/dbf19159489459aebedfed80a5ffb3d8.png?size=512" class="img-avatar" alt="">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Yoann71C</h3>
                                <p class="card-text">
                                    Farmeur en tout genre allant du jeu vidéo aux animés en passant par la musique. Mais attention la nuit il change de casquette et part modérer... PS: Team pain au chocolat !
                                </p>
                                <p class="text-black-50">Modérateur</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </main>
    <footer>
        <div class="container-fluid p-0">
            <div class="row text-left">
                <div class="col-md-5 col-sm-5">
                    <h4 class="text-light">About us</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum maxime ea similique illum corrupti</p>
                    <p class="pt-4 text-muted">Copyright © - Éclary V3 - Tous droits réservés Design par Rakox#3633.
                    </p>
                </div>
                <div class="col-md-5 col-sm-12">
                    <h4 class="text-light">Newsletter</h4>
                    <p class="text-muted">Stay Updated</p>
                    <form class="form-inline">
                        <div class="col pl-0">
                            <div class="input-group pr-5">
                                <input type="text" class="form-control bg-dark text-white" id="inlineFormInputGroupUsername2" placeholder="Email">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-2 col-sm-12">
                    <h4 class="text-light">Follow Us</h4>
                    <p class="text-muted">Let us be social</p>
                    <div class="column text-light">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </page>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/url.js"></script>
    <script src="/index.js"></script>
</body>
</html>